- wrap_layout :layout do
  .l-container
    %table.l-triplet
      %colgroup
        %col.l-triplet-col.l-triplet-col-1
        %col.l-triplet-col.l-triplet-col-1-2
        %col.l-triplet-col.l-triplet-col-2
        %col.l-triplet-col.l-triplet-col-2-3
        %col.l-triplet-col.l-triplet-col-3
      %tr
        %td.l-triplet-cell
        %td.l-triplet-cell{rowspan: 42}
        %td.l-triplet-cell
        %td.l-triplet-cell{rowspan: 42}
        %td.l-triplet-cell
      %tr
        %td.l-triplet-cell{colspan: 3}
          = partial('partials/header')
        %td.l-triplet-cell
          = yield_content :progress
      %tr
        %td.l-triplet-cell{colspan: 3}
          = yield_content :exam
        %td.l-triplet-cell
          = yield_content :score
      %tr
        %td.l-triplet-cell{colspan: 5}
          = partial 'partials/footer'